# Credenciales de Amazon y Facebook
# URLs de Grupos de Facebook Objetivo (separadas por comas)
FB_GROUP_URLS=https://www.facebook.com/groups/1252567482788041/
AMAZON_PASSWORD=tu_contraseña
FACEBOOK_EMAIL=tu_correo_fb@ejemplo.com
FACEBOOK_PASSWORD=tu_contraseña_fb

# Configuración de Afiliado
AFFILIATE_TAG=tu_tag-20

# Configuración de Brave (Opcional, para usar tus sesiones abiertas)
# Nota: Brave debe estar CERRADO para que el script pueda acceder al perfil.
BRAVE_PATH=C:\Program Files\BraveSoftware\Brave-Browser\Application\brave.exe
BRAVE_USER_DATA=C:\Users\TU_USUARIO\AppData\Local\BraveSoftware\Brave-Browser\User Data\Default
# Amazon Creators API
AMAZON_CREATORS_CREDENTIAL_ID=
AMAZON_CREATORS_CREDENTIAL_SECRET=
AMAZON_CREATORS_CREDENTIAL_VERSION=
AMAZON_CREATORS_MARKETPLACE=www.amazon.com.mx
AMAZON_PARTNER_TAG=tu_etiqueta-20

# Rutina diaria de Windows
ENABLE_ML_SCRAPER=true
AFFILIATE_DAILY_LIMIT=20

PANEL_API_KEY=

GEMINI_API_KEY1=
GEMINI_API_KEY2=
